.introPageContainer img {
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
z-index: -1;
}

.introTextWrapper {
  background-image: url();
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introPageContainer {
  font-size: 2rem;
}

.altLink {
  color: white;
  margin-top: 0.5rem;
  font-size: 2rem;
  font-style: italic;
  text-decoration: none;
  color: var(--color-accent);
}

.or {
    position: relative;
    margin: 1rem 0;
    width: 10%;
    text-align: center;
  }
  
.or::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    height: 3px;
    background-color:var(--color-accent);
    margin-bottom: 0.5rem;
    transform: translateY(100%);
  }
  
.or::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 40%;
    height: 3px;
    background-color:var(--color-accent);
    margin-bottom: 0.5rem;
    transform: translateY(100%);
  }