.eventCard {
  min-width: 30%;
  width: 30%;
  height: 100%;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-light-transparent);
  background-color: var(--color-dark-transparent);
  transition: background-color 0.2s ease-in-out;
}

.archivedEvent {
  background-color: var(--color-grey-transparent);
  border: 2px solid grey;
}

.eventCard * {
  margin: 0 0 0.5rem 0;
}

.eventCard:hover {
  background-color: var(--color-light-transparent);
  cursor: pointer;
}

.archivedEvent:hover {
  background-color: rgba(107, 107, 107, 0.5);
}

.titleHolder {
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-dark-transparent);
  border-bottom: 1px solid var(--color-light-transparent);
}

.archivedEvent .titleHolder {
  background-color: var(--color-grey-transparent);
  border-bottom: 1px solid grey;
}

.titleHolder h2 {
  border-bottom: 4px solid var(--color-accent);
  margin-bottom: 0;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: bottom;
}

.archivedEvent h2{
  border-bottom: 4px solid var(--color-text-secondary);
}

.eventCard p:first-of-type,
.eventCard span {
  font-style: italic;
}

.description {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  margin: 1rem 0;
}

@media (max-width: 900px) {
  .eventCard {
    width: 100%;
  }
}