.pollCard {
    min-width: 30%;
    width: 30%;
    height: 100%;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-light-transparent);
    background-color: var(--color-dark-transparent);
    transition: background-color 0.2s ease-in-out;
  }
  
  .pollCard * {
    margin: 0 0 0.5rem 0;
  }
  
  .pollCard:hover {
    background-color: var(--color-light-transparent);
    cursor: pointer;
  }
  
  .titleHolder {
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-dark-transparent);
    border-bottom: 1px solid var(--color-light-transparent);
  }
  
  .titleHolder h2 {
    border-bottom: 4px solid var(--color-accent);
    margin-bottom: 0;
    padding: 0.5rem;
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: bottom;
  }
  
  .eventCard p:first-of-type,
  .eventCard span {
    font-style: italic;
  }
  
  .type {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
  }

  @media (max-width: 900px) {
    .pollCard {
      width: 100%;
    }
  }
  