.eventDetailsBkg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;
}

.eventDetailsWrapper {
  position: relative;
  height: 90vh;
  width: 80vw;
  padding: 1rem;
  border: 1px solid var(--color-light-transparent);
  border-radius: 0.5rem;
  background-color: var(--color-bkg-dark-transparent);
  overflow: auto;
}

.archivedEvent {
  border: 1px solid grey;
  background-color: rgba(107, 107, 107, 0.5);

}

.eventDetailsTitle {
  text-align: center;
}

.eventDetailsTitle h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.eventDetailsTitle h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-accent);
}

.archivedEvent .eventDetailsTitle h2::after {
  background-color: grey;
}

.eventDetailsDescription {
  text-align: center;
  font-size: 1.75rem;
}

.eventDetailsDescription h4 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.eventDetailsWrapper p {
  font-style: italic;
  margin: 0;
}

.eventDetailsWrapper h4 {
    text-align: center;
}

.eventDetailsWrapper p span {
  font-style: normal;
  font-size: 1.5rem;
}

.eventDetailsWrapper h3 {
  font-size: 1.6rem;
  text-align: center;
  margin: 0  0 0.5rem 0;
}

.headingGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.headingGroup button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-accent);
}

.headingGroup button:hover {
  cursor: pointer;
}

.divider {
  margin: 1.5rem auto;
  width: 80%;
  height: 3px;
  border-radius: 60%;
  background-color: var(--color-accent);
}

.archivedEvent .divider {
  background-color: grey;
}

.attendeesNavigationWrapper {
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;
}

.messagesWrapper {
  display: flex;
  gap: 1rem;
}

.attendeesNavigationWrapper button {
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-dark-transparent);
    color: white;
    padding: 0.5rem 1rem;
}

.attendeesNavigationWrapper button:hover {
    cursor: pointer;
    background-color: var(--color-light-transparent);
}

.attendeesNavigationWrapper button:disabled {
    background-color: var(--color-dark-transparent);
    color: var(--color-light-transparent);
}

.attendeesNavigationWrapper button:disabled:hover {
    cursor:default;
}

.closeBtn {
  position: fixed;
  top: 6vh;
  right: 10.5vw;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  padding: 0.25rem;
  color: var(--color-accent);
}

.closeBtn:hover {
  cursor: pointer;
}

.eventActionsGroup {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 900px) {
  .messagesWrapper {
    flex-direction: column-reverse;
  }
}