.messageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0.5rem 0;
  background-color: hsl(196, 75%, 68%, 0.5);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 75%;
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.messageWrapper * {
  margin: 0;
}

.messageWrapper p {
  font-size: 0.8rem;
  font-weight: 400;
  font-style: normal;
}

.msgDateGroup {
  align-self: flex-end;
}

.myMessage {
  background-color: hsl(196, 75%, 68%, 0.5);
  border-top-right-radius: 0;
  align-self: flex-end;
}

.otherMessage {
  background-color: rgba(81, 140, 161, 0.5);
  border-top-left-radius: 0;
}

.actionsGroup {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.visible {
    opacity: 1;
}

.actionBtn {
  width: 1rem;
  height: 1rem;
  padding: 0.2rem;
  border: 2px solid var(--color-text);
  border-radius: 100%;
}

.actionBtn:hover{
cursor: pointer;
}