.chatWrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(107, 107, 107, 0.7);
  border-bottom: none;
  border-top: none;
  background-color: rgba(107, 107, 107, 0.3);
  margin: 0 2rem;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  overflow: hidden;
}

.chatHeading {
    width: 100%;
  margin: 2rem;
margin-bottom: 0;
border: 1px solid rgba(107, 107, 107, 0.7);
border-bottom: none;
border-radius: 0.5rem 0.5rem 0 0;
overflow: hidden;
  text-align: center;
  font-weight: 600;
  background-color: rgba(27, 27, 27, 0.9);
  height: 10%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.chatHeading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: var(--color-accent);
  }

.chatWrapper .chatHeading h4 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  font-style: normal;
}

.messageArea {
  height: 100%;
  padding: 1rem;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.messageArea::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(107, 107, 107, 0.1);
}

.messageArea::-webkit-scrollbar:hover {
  background-color: rgba(107, 107, 107, 0.9);
}

.messageArea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.messageArea::-webkit-scrollbar-thumb {
  background-color: rgba(81, 140, 161, 0.2);
  outline: 2px solid rgba(81, 140, 161, 0.2);
  border-radius: 1rem;
  opacity: 0.5;
}

.messageArea::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
  background-color: rgba(81, 140, 161, 0.9);
  outline: 2px solid rgba(81, 140, 161, 0.9);
}
