.messageForm {
    width:100%;
    height: 5rem;
    margin: 2rem;
    margin-top: 0;
    
    display: flex;
}

.faIconContainer {
    width: 10%;
    height: 100%;
    border: 1px solid var(--color-grey-transparent);
    border-right: none;
    border-top: none;
    border-radius: 0 0 0 0.5rem;
    background-color:  var(--color-bkg-dark-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.faIcon {
    font-size: 1.5rem;
}

.messageInput {
    width: 70%;
    border: none;
    border-bottom: 1px solid var(--color-grey-transparent); 
    background-color: var(--color-bkg-dark-transparent);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: grey;
}

.messageButton {
    width: 20%;
    border: 1px solid var(--color-grey-transparent);
    border-radius: 0 0 0.5rem 0;
    background-color: var(--color-accent);
    padding: 0.5rem;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
    font-size: 1.2em;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.messageButton:hover {
    opacity: 0.7;
    cursor: pointer;
}