.pollDetailsBkg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;
}

.pollDetailsWrapper {
  position: relative;
  height: 90vh;
  width: 80vw;
  padding: 1rem;
  border: 1px solid var(--color-light-transparent);
  border-radius: 0.5rem;
  background-color: var(--color-bkg-dark-transparent);
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.pollDetailsTitle {
  text-align: center;
}

.pollDetailsTitle h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.pollDetailsTitle h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-accent);
}

.pollDetailsDescription {
  text-align: center;
  font-size: 1.75rem;
}

.pollDetailsDescription h4 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.pollDetailsDescription h4 span {
  text-transform: uppercase;
}

.pollDetailsWrapper p {
  font-style: italic;
  margin: 0;
}

.pollDetailsWrapper h4 {
  text-align: center;
}

.pollDetailsWrapper p span {
  font-style: normal;
  font-size: 1.5rem;
}

.pollDetailsWrapper h3 {
  font-size: 1.6rem;
  text-align: center;
  margin: 0 0 0.5rem 0;
}

.divider {
  margin: 1.5rem auto;
  width: 80%;
  height: 3px;
  border-radius: 60%;
  background-color: var(--color-accent);
}

.votesTableWrapper {
  width: 90%;
  margin: 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}

.votesTable {
  width: 100%;
  border-collapse: collapse;
}

.votesTable thead {
  background-color: var(--color-accent);
  color: var(--color-bkg-dark-transparent);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.votesTable thead th {
  padding: 0.5rem;
}

.votesTable tbody tr:nth-child(even) {
  background-color: var(--color-dark-transparent);
}

.votesTable tbody tr:nth-child(odd) {
  background-color: var(--color-light-transparent);
}

.votesTable tbody td {
  text-align: center;
  padding: 0.5rem;
}

.plotButton {
  border: none;
  background-color: var(--color-accent);
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.plotButton:hover {
cursor: pointer;
opacity: 0.8;
}

.closeBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  padding: 0.25rem;
  color: var(--color-accent);
}

.closeBtn:hover {
  cursor: pointer;
}
