.pollsTabWrapper {
  padding: 2rem;
  border: 1px solid var(--color-grey-transparent);
  border-top: 0;
  border-radius: 0 0 1rem 1rem;
}

.divider {
  margin: 1.5rem auto;
  width: 80%;
  height: 3px;
  border-radius: 60%;
  background-color: var(--color-accent);
}

.pollsTabWrapper h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.pollsTabWrapper p {
  font-size: 1rem;
  text-align: center;
}

.sortActionsHolder {
  margin: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.sortActionsHolder div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sortActionsHolder h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem;
}

.sortActionsHolder button {
  flex: 1;
  background-color: var(--color-light-transparent);
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.sortActionsHolder button:hover {
  background-color: var(--color-accent);
  cursor: pointer;
}

button.sortSelected {
  background-color: var(--color-accent);
}

.pollsHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newButtonHolder {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 900px) {

.pollsTabWrapper h2 {
  margin: 1.5rem;
  padding: 0 2rem;
}

  .sortActionsHolder h4 {
    font-size: 1.2rem;
  }

  .sortActionsHolder button {
    font-size: 0.8rem;
  }
}
