.pollsTabWrapper {
  padding: 2rem;
  border: 1px solid var(--color-grey-transparent);
  border-top: 0;
  border-radius: 0 0 1rem 1rem;
}

.divider {
  margin: 1.5rem auto;
  width: 80%;
  height: 3px;
  border-radius: 60%;
  background-color: var(--color-accent);
}

.pollsTabWrapper h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.pollsTabWrapper p {
  font-size: 1rem;
  text-align: center;
}

.loadingWrapper {
  position: relative;
}

.sortActionsHolder {
  margin: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.sortActionGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.sortActionGroup h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.5rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.buttonsContainer button,
.buttonsContainer select {
  flex: 1;
  min-width: 150px;
  background-color: var(--color-darkbkg);
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.sortActionGroup button {
  min-width: 150px;
  background-color: var(--color-darkbkg);
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.buttonsContainer button:hover,
.sortActionGroup button:hover {
  background-color: var(--color-accent);
  cursor: pointer;
}

.sortActionGroup input {
  width: 50%;
  min-width: 200px;
  background-color: var(--color-light-transparent);
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;

}

button.sortSelected,
select.sortSelected {
  background-color: var(--color-accent);
}

.pollsHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newButtonHolder {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .pollsTabWrapper h2 {
    margin: 1.5rem;
    padding: 0 2rem;
  }
  .sortActionsHolder h4 {
    font-size: 1.2rem;
  }
  .sortActionsHolder button {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .sortActionGroup {
    display: flex;
    flex-direction: column;
  }
}
