.pollDetailsContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bkg-dark-transparent);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.pollDetailsWrapper {
    width: 60%;
    padding: 2rem;
    border: 1px solid var(--color-light-transparent);
    background-color: var(--color-dark-transparent);
    border-radius: 0.5rem;
    position:  relative;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.pollDetailsWrapper h4 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.oaInputWrapper {
width: 60%;
height: 20%;
}

.oaInputWrapper input {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: none;
    text-align: center;
    font-size: 1.25rem;
}

.mcOptionsWrapper {
width: 80%;
}

.pollOptionItem {
    width: 100%;
    font-size: 1.5rem;
    background-color: var(--color-light-transparent);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin: 0.75rem 0;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}

.pollOptionItem:hover {
    cursor: pointer;
}

.pollOptionItem p {
    margin: 0;
}

.selected {
    background-color: var(--color-accent);
}

.ratingList {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.ratingList svg {
    color: var(--color-accent);
}

.voteButton {
    width: 50%;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 1rem 2rem;
    background-color: var(--color-accent);
    color: white;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
}

.voteButton:hover {
    cursor: pointer;
    opacity: 0.95;
}

.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    color: var(--color-accent);
    font-size: 1.5rem;
}

.closeButton:hover {
    cursor: pointer;
    opacity: 0.8;
}