.chartWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.99);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chartTypeSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.wordCloudWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recharts-wrapper {
    padding-top: 2rem;
}

.recharts-polar-grid-angle {
    margin: 1rem;
}