.usersTableWrapper {
    margin: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
}

.usersTableWrapper table {
    width: 100%;
    border-collapse: collapse;
}


.usersTableWrapper table tbody {
    display: block;
    max-height: 40vh;
    overflow: auto;
}

.usersTable thead {
    background-color: var(--color-accent);
}

.usersTable thead tr,
.usersTable tbody tr {
    display: block;
    width: 100%;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.usersTable thead th {
    padding: 0.7rem;
    text-align: left;
    /* border: 1px solid var(--color-light-transparent); */
    color: var(--color-bkg);
}

.usersTable tbody tr:nth-child(even) {
    background-color: var(--color-dark-transparent);
}

.usersTable tbody tr:nth-child(odd) {
    background-color: var(--color-light-transparent);
}

.usersTable tbody td,
.usersTable thead th {
    padding: 0.5rem 1rem;
    text-align: left;
    width: 30%;
}

.usersTable tbody td:first-child 
.usersTable thead th:first-child {
    width: 25px;
}
