.notFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.notFoundContainer h1 {
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.notFoundContainer h1 span img {
    width: 100px;
    height: 100px;
    transform: translateY(10%);
}

.notFoundContainer a {
    color: var(--color-accent);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 0.5rem;
}