.homeContainer img {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.homeContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.chatArea {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items:flex-start;
  justify-content: center;
}

.pollsArea {
  width: 45%;
}

@media (max-width: 900px) {
  .homeContainer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  .chatArea {
    width: 90%;
    height: unset;
    top: 100px;
  }
  .pollsArea {
    width: 90%;
  }
}