.profileContainer {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileContainer img {
    object-fit: cover;
    position:fixed;
    z-index: -1;
}

.profileContainer * {
    margin: 0;
    padding: 0;
}

.profileContainer h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
    border-bottom: 4px solid var(--color-accent);
}

.profileContainer h3 {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.profileContainer p span {
    font-size: 1.25em;
    font-style: italic;
}

.userDetails {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.attendeeList {
    width: 80%;
    text-align:center;
    padding: 0;
}

.attendeeHeading {
    width:100%;
    height: 3rem;
}

.attendeeHeading h3 {
    margin: 0;
    vertical-align: middle;
    font-style: normal;
    font-style: bold;
    padding-top: 0.5rem;
}

.attendee {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
    padding: 0 5rem;
}
