.eventsTabWrapper {
  padding: 2rem;
  border: 1px solid var(--color-grey-transparent);
  border-top: 0;
  border-radius: 0 0 1rem 1rem;
}

.divider {
  margin: 1.5rem auto;
  width: 80%;
  height: 3px;
  border-radius: 60%;
  background-color: var(--color-accent);
}

.eventsTabWrapper h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.eventsTabWrapper p {
  font-size: 1rem;
  text-align: center;
}

.loadingWrapper {
  position: relative;
}

.eventsHolder {
  border: 1px solid var(--color-light-transparent);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: centeflex-startr;
}

.eventsGroupLabel {
  position: absolute;
  top: 0;
  left: 10%;
  transform: translateY(-50%);
  background-color: var(--color-bkg);
  padding: 0 1rem;
  font-size: 1.25rem;
}

.newButtonHolder {
  width: 80%;
  margin: 0 auto;
}
